<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container">
    <div class="card p-5 m-5 border border-primary border-3"  >
        <form action="/board/update" method="post">
            <input type="hidden" name="id" th:value="${boardOne.id}">
            <input type="hidden" name="boardWriter" th:value="${boardOne.boardWriter}">
            <input type="hidden" name="boardPassword" th:value="${boardOne.boardPassword}">
            <input type="hidden" name="boardHits" th:value="${boardOne.boardHits}">


            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">글 제목</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name=boardTitle th:value="${boardOne.boardTitle}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">글 내용</label>
                <input class="form-control" id="exampleFormControlTextarea1" name=boardContents th:value="${boardOne.boardContents}" rows="3">
            </div>
            <input type="submit" value="수정">
        </form>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>